{{ define "layouts/navegacao.html"}}
    <div class="row">
        <button class="btn btn-navegate" onclick="history.back()" style="color: var(--branco); background-color: var(--botao1)">Voltar</button>
        <a href="/" class="btn btn-navegate" style="color: var(--branco); background-color: var(--botao2)">Início</a>
        <a href="/clientes" class="btn btn-navegate " style="color: var(--branco); background-color: var(--botao3)">Clientes</a>
        <a href="/imoveis" class="btn  btn-navegate" style="color: var(--branco); background-color: var(--botao4)">Imóveis</a>
    </div>
{{ end }}